/* -- RESETEO -- */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: white;
    font-family: 'Outfit', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;500&family=Poppins:wght@300&display=swap');

.whatsapp {
    position:fixed;
    width:60px;
    height:60px;
    bottom:20px;
    right:20px;
    background-color:#25d366;
    color: #DCDEE1;
    border-radius:50px;
    text-align:center;
    font-size:30px;
    z-index:100;
    box-shadow: 3px 3px 10px rgba(3, 3, 3, 1);
}

.whatsapp-icon {
    margin-top:13px;
}

/* -- FIN RESETEO -- */

/* -- NAVEGADOR PRINCIPAL -- INICIO -- */

.caja-header{
    background-color: #fff;
    margin: 0px 5% 0px 5%;
    padding: 0px 0px 0px 0px;
}

.navbar .container-fluid{
    background-color: #fff;
}

.container-fluid img{
    height: 70px;
}

.collapse{
    justify-content: end;
    align-items: end;
}

.nav-item .nav-link{
    font-size: 16px;
    color: #000000;
    text-align: center;
}

/* -- NAVEGADOR PRINCIPAL -- FINAL -- */

/* -- NAVEGADOR CONTACTO -- INICIO -- */

.header-contacto{
    background-color: #1B3544;
    padding: 10px 2% 10px 2%;
}

.header-contacto .verde{
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: start;
    margin-bottom: 0;
}

.header-contacto .verde li{
    width: 250px;
    display: flex;
    align-items: center;
}

.header-contacto .verde li a{
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    display: block;
}

.header-contacto .verde li img{
    height: 35px;
    margin-right: 15px;
}

/* -- NAVEGADOR CONTACTO -- FINAL -- */

/* -- FOOTER -- INICIO -- */

    /*ALGUNA CONSULTA*/
footer{
    background: #1B3544;  
    background: -webkit-linear-gradient(to bottom, #305e77, #1B3544);
    background: linear-gradient(to bottom, #305e77, #1B3544);
}

.footer-preguntas{
    background-color: #9EAB92;
    padding: 30px 5% 30px 5%;
    display: flex;
    flex-direction:column;
    width: 100%;
}

.footer-preguntas div{
    width: 100%;
}

.footer-preguntas .t1{
    color: #1B3544;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 0px;
}

.footer-preguntas .t2{
    color: #1B3544;
    font-size: 18px;
}

.boton3{
    background-color: #305e77;
    border-color: #305e77;
    color: #fff;
    font-size: 18px;
    padding: 10px 30px 10px 30px;
    margin-top: 28px;
    cursor: pointer;
    border-radius: 8px;
}

.footer-logo{
    padding: 50px 5% 50px 5%;
}

    /*LOGO ICONOS*/

.footer-logo{
    padding: 80px 5% 50px 5%;
    display: grid;
    grid-template-columns: repeat(1, 90%);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: 
        "imagen1"
        "caja1"
        "caja2"
        "caja3"
        "redes1";
    }

.footer-logo .footer-verde{
    grid-area: imagen1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-verde img{
    width: 250px;
}

.footer-logo .footer-caja1{
    grid-area: caja1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-caja1{
    display: flex;
    flex-direction: column;
    margin: 5px 0px 5px 0px;
}

.footer-caja1 h3{
    font-size: 20px;
    text-align: center;
    color: #9EAB92;
    font-weight: bold;
    margin-top: 30px;
}

.footer-caja1 p{
    font-size: 20px;
    text-align: center;
    color: white;
    font-weight: 600;
}

.footer-logo .footer-caja2{
    grid-area: caja2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-caja2{
    display: flex;
    flex-direction: column;
    margin: 5px 0px 5px 0px;
}

.footer-caja2 h3{
    font-size: 20px;
    text-align: center;
    color: #9EAB92;
    font-weight: bold;
    margin-top: 30px;
}

.footer-caja2 p{
    font-size: 20px;
    text-align: center;
    color: white;
    font-weight: 600;
}

.footer-logo .footer-caja3{
    grid-area: caja3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-caja3{
    display: flex;
    flex-direction: column;
    margin: 5px 0px 5px 0px;
}

.footer-caja3 h3{
    font-size: 20px;
    text-align: center;
    color: #9EAB92;
    font-weight: bold;
    margin-top: 30px;
}

.footer-caja3 p{
    font-size: 20px;
    text-align: center;
    color: white;
    font-weight: 600;
}

.footer-logo .footer-redes{
    grid-area: redes1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-width: 2px 0px 0px 0px;
    border-style: solid;
    border-color: #9EAB92;
}

.footer-redes svg{
    margin: 0px 15px 0px 15px;
    cursor: pointer;
}

.footer-copy p{
    font-size: 16px;
    color: #9EAB92;
    text-align: center;
    padding: 0px 0px 50px 0px;
    margin: 50px 0px 0px 0px;
}

/* -- FOOTER -- FINAL -- */

/* -- TITULOS DE PAGINAS -- INTERNAS -- */

.titulo-pagina{
    padding: 50px 5% 50px 5%;
    margin-bottom: 80px;
    background-color: #9EAB92;
}

.titulo-pagina h1{
    width: 100%;
    text-align: center;
    font-size: 35px;
}

/* -- TITULO DE PAGINA -- FINAL -- */

/*-- PAGINA INICIO -- INICIO --*/

    /*BANNER PRINCIPAL -- INICIO*/

.profesionales{
    background-image: linear-gradient(104deg, #305e77 0%, rgba(7, 7, 7, 0.3) 100%), url(../images/banners/banner1-madrigalph-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    padding: 100px 5% 100px 5%;
}

.prof-verde div{
    display: flex;
    align-items: start;
}

.prof-verde .prof{
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    margin-left: 15px;
    animation: typing 2s steps(22), blink .5s step-end infinite;
    overflow: hidden;
    white-space: nowrap;
}

@keyframes typing {
    from {
        width: 0
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

.prof-verde h1{
    color: #fff;
    font-size: 35px;
    font-weight: bold;
}

.prof-verde h1 span{
    color: #9EAB92;
}

.prof-verde p{
    color: #fff;
    font-size: 16px;
    padding: 10px 0px 20px 0px;
}

.boton1{
    background-color: #9EAB92;
    border-radius: 8px;
    border-color: #9EAB92;
    color: #000000;
    font-size: 18px;
    padding: 10px 30px 10px 30px;
    cursor: pointer;
}

    /*BANNER PRINCIPAL -- FINAL*/

    /*BIENVENIDOS -- INICIO*/

.bienvenidos{
    padding: 80px 5% 80px 5%;
    display: grid;
    grid-template-columns: repeat(1, 90%);
    gap: 20px;
    grid-template-areas: 
        "imagen1"
        "texto"
        "caja1"
        "caja2"
        "imagen2";
}

.bienvenidos .bienv-verde{
    grid-area: imagen1;
}

.bienv-verde img{
    height: 300px;
    border-radius: 8px
}

.bienvenidos .bienv-gris{
    grid-area: texto;
}

.bienvenidos .bienv-gris .bienv-titulo{
    font-size: 20px;
    font-weight: 600;
    margin-top: 20px;
}

.bienvenidos .bienv-gris h2{
    font-size: 30px;
    color: #1B3544;
    font-weight: bold;
}

.bienvenidos .bienv-gris p{
    font-size: 16px;
    font-weight: 600;
}

.bienvenidos .bienv-experiencia{
    grid-area: caja1;
    background-color: #9EAB92;
    width: 300px;
    height: 130px;
    border-radius: 8px;
}

.bienvenidos .bienv-experiencia div{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 
}

.bienvenidos .bienv-experiencia div h3{
    font-size: 50px;
    font-weight: bold;
    margin-right: 10px;
}

.bienvenidos .bienv-experiencia div p{
    font-size: 20px;
    font-weight: 600;
}

.bienvenidos .bienv-satisfaccion{
    grid-area: caja2;
    background-color: #9EAB92;
    width: 300px;
    height: 130px;
    border-radius: 8px;
}

.bienvenidos .bienv-satisfaccion div{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.bienvenidos .bienv-satisfaccion div h3{
    font-size: 50px;
    font-weight: bold;
    margin-right: 10px;
}

.bienvenidos .bienv-satisfaccion div p{
    font-size: 20px;
    font-weight: 600;
}

.bienvenidos .bienv-asurbe{
    grid-area: imagen2;
    display: flex;
}

.bienv-asurbe img{
    height: 250px
}

    /*BIENVENIDOS -- FINAL*/

    /*NUESTRO EQUIPO DE TRABAJO -- INICIO*/

.equipo{
    padding: 80px 5% 80px 5%;
    background-color: #DCDEE1;
}

.equipo .t1{
    text-align: center;
    color: #9EAB92;
    font-size: 15px;
    font-weight: bold;
}

.t1 span{
    color: #305e77;
    letter-spacing: 1.5px;
}

.equipo .t2{
    text-align: center;
    color: #1B3544;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 1.5px;
    margin: 0px 0px 50px 0px;
}

.verde{
    display: grip;
    grid-template-columns: repeat(4,2fr);
    gap: 20px;
}

.equipo .equipo-verde{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8 1fr);
}

.caja-servicios{
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.caja-servicios:hover{
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.caja-servicios h3{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.caja-servicios p{
    color: #000000;
    text-align: center;
}

.imagen img{
    width: 100px;
}

.imagen{
    display: flex;
    justify-content: center;
}

.equipo-boton{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
}

.equipo-boton .boton1{
    background-color: #9EAB92;
    text-decoration: none;
}


    /*NUESTRO EQUIPO DE TRABAJO -- FINAL*/

    /*FACTOR DIFERENCIADOR -- INICIO*/

.factor-caja1{
    background-image: url(../images/imagenes/imagen-madrigalph-8.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;    
}

.factor-fondo{
    background-color: #305e77;
    width: 100%;
    height: 100%;
    opacity: .8;
    padding: 50px;
}

.factor{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: 
        "texto1"
        "texto1"
        "texto1"
        "texto2"
        "imagen1";
}

.factor .factor-caja1{
    grid-area: texto1;
}

.factor-difer h5{
    color: #9EAB92;
    font-size: 18px;
    font-weight: 600;
    opacity: 100;
}

.factor-difer h4{
    color: #fff;
    font-size: 25px;
    font-weight: bold;
}

.factor .factor-personal{
    grid-area: texto3;
}

.factor-personal{
    display: flex;
    justify-content: start;
    align-items: start;
    margin: 100px 0px 25px 25px;
}

.factor-personal .fc-01 h5{
    background-color: #fff;
    font-size: 40px;
    padding: 10px;
    text-align: center;
}

.fc-01{
    width: 80px;
    height: 80px;
    margin-right: 20px;
}

.fc-personal h6{
    font-size: 25px;
    color: #fff;
}

.fc-personal p{
    font-size: 18px;
    color: #fff;
    margin-bottom: 50px;
}

.factor .factor-valores{
    grid-area: texto4;
}

.factor-valores{
    display: flex;
    justify-content: start;
    align-items: start;
    margin: 25px 0px 25px 25px;
}

.factor-valores .fc-02 h5{
    background-color: #fff;
    font-size: 40px;
    padding: 10px;
    text-align: center;
}

.fc-02{
    width: 86px;
    height: 80px;
    margin-right: 20px;
}

.fc-agregado h6{
    font-size: 25px;
    color: #fff;
}

.fc-agregado p{
    font-size: 18px;
    color: #fff;
}

.factor .factor-icono{
    grid-area: texto2;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9EAB92;
}

.factor-icono p{
    font-size: 20px;
    margin-left: 15px;
}

.factor .factor-imagen{
    grid-area: imagen1;
}

.factor-imagen img{
    width: 100%;
}

/*FACTOR DIFERENCIADOR -- FINAL*/

    /*COPROPIEDADES -- INICIO*/

.copropiedades{
    padding: 80px 5% 80px 5%;
}

.copropiedades .t1{
    text-align: center;
    color: #9EAB92;
    font-size: 15px;
    font-weight: bold;
}

.t1 span{
    color: #305e77;
    letter-spacing: 1.5px;
}

.copropiedades .t2{
    text-align: center;
    color: #1B3544;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 1.5px;
    margin-bottom: 70px;
}

.cop-verde {
    width: 90vw;
    height: auto;
    margin: auto;
    overflow: hidden;
}

.cop-verde .cop-gris {
    display: flex;
    animation: scroll 40s linear infinite;
    -webkit-animation: scroll 40s linear infinite;
    width: calc(300px * 24);
}

.cop-verde .slider {
    width: 300px;
    margin-right: 50px;
}

.cop-gris .slider img {
    width: 100%;
}

@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(calc(-300px * 12));
        transform: translateX(calc(-300px * 12));
    }
}

.cop-boton .boton2{
    justify-content: center;
}

    /*COPROPIEDADES -- FINAL*/

/*-- PAGINA INICIO -- FINAL --*/

/*-- PAGINA SERVICIOS -- INICIO --*/

    /*TITULO SERVICIOS*/

.servicio-t1{
    padding: 40px 0 10px 0;
}

.servicio-t1 .t1{
    text-align: center;
    color: #9EAB92;
    font-size: 15px;
    font-weight: bold;
}

.servicio-t1 .t1 span{
    color: #305e77;
    letter-spacing: 1.5px;
}

.servicio-t1 .t2{
    text-align: center;
    color: #1B3544;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 1.5px;
}

    /*CAJA SERVICIO*/

.pagina-servicios{
    padding: 80px 5% 150px 5%;
    display: grid;        
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: 
        "caja1"
        "caja2"
        "caja3"
        "caja4"
        "caja5"
        "caja6";
    gap: 50px;
    align-items: center;
    justify-content: center;
}

.pagina-servicios img{
    width: 250px;
    align-items: center;
    margin-bottom: 25px;
}

.pagina-servicios .caja-1{
    grid-area: caja1;
    padding: 30px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 2px 2px 2px 3px rgba(0, 0, 0, 0.1);
}

.pagina-servicios .caja-2{
    grid-area: caja2;
    padding: 30px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 2px 2px 2px 3px rgba(0, 0, 0, 0.1);
}

.pagina-servicios .caja-3{
    grid-area: caja3;
    padding: 30px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 2px 2px 2px 3px rgba(0, 0, 0, 0.1);
}

.pagina-servicios .caja-4{
    grid-area: caja4;
    padding: 30px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 2px 2px 2px 3px rgba(0, 0, 0, 0.1);
}

.pagina-servicios .caja-5{
    grid-area: caja5;
    padding: 30px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 2px 2px 2px 3px rgba(0, 0, 0, 0.1);
}

.pagina-servicios .caja-6{
    grid-area: caja6;
    padding: 30px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 2px 2px 2px 3px rgba(0, 0, 0, 0.1);
}

/*-- PAGINA SERVICIOS -- FINAL --*/

/*-- PAGINA NOSOTROS -- INICIO --*/

/*-- PAGINA NOSOTROS -- FINAL --*/

/*-- PAGINA CONTACTO -- INICIO --*/

.contenedor-formulario{
    padding: 20px 5% 130px 5%;
}

    /*CAJA CONTACTO*/

.caja-contacto .t1{
    color: #9EAB92;
    font-size: 15px;
    font-weight: bold;
}

.t1 span{
    color: #305e77;
    letter-spacing: 1.5px;
}

.caja-contacto .t2{
    color: #1B3544;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 1.5px;
    margin: 0px 0px 50px 0px;
}

.caja-contacto .medios-texto{
    font-size: 16px;
}

.medios-telefono{
    display: flex;
    flex-direction: column;
    margin-bottom: 35px;
    margin-top: 35px;
    text-align: center;
}

.medios-telefono .bi-telephone-fill{
    background-color: #9EAB92;
    padding: 12px;
    border-radius: 25px;
}

.medios-telefono .bi-geo-alt-fill{
    background-color: #9EAB92;
    padding: 12px;
    border-radius: 25px;
}

.medios-telefono p{
    margin: 15px 0 15px 0;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #000000;
}

.horarios-semana{
    margin-bottom: 35px;
}

.horarios-semana h4{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
}

.horarios-semana h5{
    text-align: center;
    font-size: 20px;
    letter-spacing: 1px;
}

.horarios-fines{
    margin-bottom: 35px;
}

.horarios-fines h4{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
}

.horarios-fines h5{
    text-align: center;
    font-size: 20px;
    letter-spacing: 1px;
}

    /*CAJA FORMULARIO*/

.caja-formulario{
    background-color: #305e77;
    padding: 40px;
    box-shadow: 7px 3px 37px rgba(7, 7, 7, 0.3);
    color: #fff;
    border-radius: 8px;
}

.nombre-form{
    margin-bottom: 20px;
}

.nombre-form input{
    width: 100%;
    border-radius: 8px;
    padding: 5px;
}

.telefono-form{
    margin-bottom: 20px;
}

.telefono-form input{
    width: 100%;
    border-radius: 8px;
    padding: 5px;
}

.email-form{
    margin-bottom: 20px;
}

.email-form input{
    width: 100%;
    border-radius: 8px;
    padding: 5px;
}

.tipomensaje-form{
    margin-bottom: 20px;
}

.tipomensaje-form select{
    width: 100%;
    border-radius: 8px;
    padding: 5px;
}

.tipocliente-form{
    margin-bottom: 20px;
}

.tipocliente-form select{
    width: 100%;
    border-radius: 8px;
    padding: 5px;
}

.asunto-form{
    margin-bottom: 20px;
}

.asunto-form textarea{
    border-radius: 8px;
    padding: 5px;
    box-sizing: content-box;
    width: 100%;
}

.terminos-form{
    margin-bottom: 20px;
}

.enviar-form{
    border-radius: 8px;
    padding: 5px;
}

.enviar-form:hover{
    background-color: #9EAB92;
    color: #fff;
}

/*-- PAGINA CONTACTO -- FINAL --*/

/*-- PAGINA FAQ -- INICIO --*/

    /*ACORDEON*/

.accordion{
    padding: 50px 5% 100px 5%;
}

/*-- PAGINA FAQ -- FINAL --*/

/* -- MEDIA QUERY -- */

@media(min-width:768px){

    /*HEADER*/

    .container-fluid img{
        height: 100px;
    }

    .nav-item .nav-link{
        font-size: 23px;
        color: #000000;
        text-align: center;
    }

    /*FOOTER*/

    .footer-preguntas{
        flex-direction: row;
    }

    .footer-preguntas .t1{
        font-size: 35px;
    }

    .footer-logo{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: 
            "imagen1    caja1   caja2"
            "caja3      redes1  redes1";
    }

    .footer-caja1{
        margin: 15px 0px 70px 0px;
    }

    .footer-caja2{
        margin: 15px 0px 70px 0px;
    }

    .footer-caja3{
        margin: 15px 0px 70px 0px;
    }

    /*BANNER PRINCIAPAL*/

    .prof-verde .prof{
        color: #fff;
        font-size: 25px;
        font-weight: 700;
    }

    .prof-verde h1{
        font-size: 50px;
        width: 50%;
    }

    .prof-verde p{
        width: 50%;
    }

    /*BIENVENIDOS*/

    .bienvenidos{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas: 
            "imagen1 texto texto"
            "imagen1 caja1 imagen2"
            "imagen1 caja2 imagen2";
    }
    
    .bienv-verde img{
        height: 80vh;
        margin-right: 60px;
    }

    .bienvenidos .bienv-experiencia{
        grid-area: caja1;
        background-color: #9EAB92;
        width: 300px;
        height: 130px;
        border-radius: 8px;
    }

    /*EQUIPO*/

    .equipo{
        padding: 80px 5% 80px 5%;
        background-color: #DCDEE1;
    }
    
    .equipo .equipo-verde{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(8 1fr);
    }

    .header-contacto .verde{
        display: flex;
        flex-direction: row;
        list-style: none;
        justify-content: center;
    }

    .header-contacto{
        background-color: #1B3544;
        padding: 10px 5% 10px 5%;
    }

    /*FACTOR*/
    .factor{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas: 
            "texto1 texto2"
            "texto1 imagen1"
            "texto1 imagen1";
    }
    .factor-icono p{
        font-size: 30px;
        margin-left: 30px;
    }

    /*PAGINA SERVICIOS*/

    .pagina-servicios{
        padding: 80px 5% 150px 5%;
        display: grid;        
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas: 
            "caja1 caja2"
            "caja3 caja4"
            "caja5 caja6";
        gap: 30px;
    }

    .pagina-servicios img{
        width: 250px;
    }

    /*CONTACTO*/

    .medios-telefono{
        display: flex;
        flex-direction: row;
        margin-bottom: 35px;
        margin-top: 35px;
    }

    .medios-telefono p{
        margin: 0 0 0 20px;
        font-size: 20px;
        font-weight: bold;
        letter-spacing: 1px;
        text-align: start;
    }

    .horarios-semana h4{
        text-align: start;
    }
    
    .horarios-semana h5{
        text-align: start;
    } 

    .horarios-fines h4{
        text-align: start;
    }
    
    .horarios-fines h5{
        text-align: start;
    } 
}

@media(min-width:1024px){

    /*FOOTER*/

    .footer-preguntas .t1{
        font-size: 40px;
    }

    .footer-logo{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: 
            "imagen1    caja1   caja2   caja3"
            "imagen1    redes1  redes1  redes1"
    }

    /*EQUIPO*/

    .equipo{
        padding: 80px 5% 80px 5%;
        background-color: #DCDEE1;
    }
    
    .equipo .equipo-verde{
        grid-template-columns: repeat(4,25%);
        grid-template-rows: 1fr 1fr;
    }

    /*PAGINA SERVICIOS*/

    .pagina-servicios{
        padding: 80px 5% 150px 5%;
        display: grid;        
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: 
            "caja1 caja2 caja3"
            "caja4 caja5 caja6";
        gap: 50px;
    }
}

/* -- FIN -- MEDIA QUERY --