/*RESETEO*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: 'Outfit', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;500&family=Poppins:wght@300&display=swap');

/*FIN RESETEO*/

/*NAVEGADOR PRINCIPAL -- INICIO*/

.separacion-menu{
    padding: 10px;
    margin: 3px 5% 3px 5%;
}

.header-azul{
    display: flex;
}

.navegador .logo-menu img{
    height: 100px;
    object-fit: cover;
}

.navegador{
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.navegador .menu{
    list-style: none;
    display: flex;
    justify-content: end;
}

.navegador .menu li a{
    color: #000000;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    display: block;
    padding: 0px 20px;
    letter-spacing: 1.5px;
}

.navegador .menu li :hover{
    color: #9EAB92;
    font-size: 20px;
    cursor: pointer;
    text-decoration: overline;
    transition: 0.2s;
}

/*NAVEGADOR PRINCIPAL -- FINAL*/

/*NAVEGADOR CONTACTO -- INICIO*/

.header-contacto{
    background-color: #1B3544;
    padding: 10px 5% 10px 5%;
}

.header-contacto .verde{
    display: flex;
    list-style: none;
    justify-content: center;
}

.header-contacto .verde li{
    width: 250px;
    display: flex;
    align-items: center;
}

.header-contacto .verde li a{
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    display: block;
}

.header-contacto .verde li img{
    height: 35px;
    margin-right: 15px;
}

/*NAVEGADOR CONTACTO -- FINAL*/

/*FOOTER -- INICIO*/

footer{
    background-color: #1B3544;
}

.footer-preguntas{
    background-color: #9EAB92;
    padding: 30px 5% 30px 5%;
    display: flex;
    width: 100%;
}

.footer-preguntas div{
    width: 100%;
}

.footer-preguntas .t1{
    color: #1B3544;
    font-size: 30px;
    font-weight: bold;
}

.footer-preguntas .t2{
    color: #1B3544;
    font-size: 18px;
}

.boton3{
    background-color: #305e77;
    border-color: #305e77;
    color: #fff;
    font-size: 18px;
    padding: 10px 10px 10px 10px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 8px;
}

.verde-f2 img{
    height: 250px;
}

.footer-logo{
    padding: 50px 5% 50px 5%;
}

.footer-menu{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 50px 5% 50px 5%;
}

.footer-menu .footer-menu2{
    list-style: none;
    display: flex;
    justify-content: center;
    width: 100%;
}

.footer-menu .footer-menu2 li a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    display: block;
    padding: 0px 20px;
    letter-spacing: 1.5px;
}

.footer-menu .footer-menu2 li :hover{
    color: #9EAB92;
    font-size: 20px;
    cursor: pointer;
    text-decoration: overline;
    transition: 0.2s;
}

.footer-copy{
    padding: 20px 5% 20px 5%;
    background-color: #305e77;
}

.footer-copy p{
    color: #fff;
    text-align: center;
}

/*FOOTER -- FINAL*/

/*TITULOS DE PAGINAS -- INICIO*/

.titulo-pagina{
    padding: 50px 5% 50px 5%;
    margin-bottom: 80px;
    background-color: #9EAB92;
}

.titulo-pagina h1{
    width: 100%;
    text-align: center;
    font-size: 35px;
}

/*TITULO DE PAGINA -- FINAL*/

/*-- PAGINA INICIO -- INICIO --*/

/*BANNER PRINCIPAL -- INICIO*/

.profesionales{
    background-image: linear-gradient(104deg, #305e77 0%, rgba(7, 7, 7, 0.3) 100%), url(../images/banners/banner1-madrigalph\ \(2\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    padding: 100px 5% 100px 5%;
}

.verde img{
    height: 100px;
    padding-right: 20px;
}

.verde div{
    display: flex;
    align-items: end;
}

.verde .prof{
    color: #fff;
    font-size: 25px;
}

.verde h1{
    color: #fff;
    font-size: 50px;
    width: 50%;
}

.verde h1 span{
    color: #9EAB92;
}

.verde p{
    color: #fff;
    font-size: 16px;
    width: 50%;
    padding: 10px 0px 20px 0px;
}

.boton1{
    background-color: #9EAB92;
    border-radius: 8px;
    border-color: #9EAB92;
    color: #000000;
    font-size: 18px;
    padding: 10px 30px 10px 30px;
    cursor: pointer;
}

/*BANNER PRINCIPAL -- FINAL*/

/*BIENVENIDOS -- INICIO*/

/*BIENVENIDOS -- FINAL*/

/*NUESTRO EQUIPO DE TRABAJO -- INICIO*/

.equipo{
    padding: 80px 5% 80px 5%;
    background-color: #DCDEE1;
}

.equipo .t1{
    text-align: center;
    color: #9EAB92;
    font-size: 15px;
    font-weight: bold;
}

.t1 span{
    color: #305e77;
    letter-spacing: 1.5px;
}

.equipo .t2{
    text-align: center;
    color: #1B3544;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 1.5px;
    margin: 0px 0px 50px 0px;
}

.verde{
    display: grip;
    grid-template-columns: repeat(4,2fr);
    gap: 20px;
}

.equipo .equipo-verde{
    display: flex;
    flex-wrap: wrap;
}

.caja-servicios{
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
}

.caja-servicios h3{
    text-align: center;
}

.caja-servicios p{
    color: #000000;
    width: 310px;
    text-align: center;
}

.caja-servicios img{
    width: 100px;
    height: 100px;
}

.equipo .boton2{
    background-color: #9EAB92;
    text-decoration: none;
}


/*NUESTRO EQUIPO DE TRABAJO -- FINAL*/

/*FACTOR DIFERENCIADOR -- INICIO*/

.factor{
    padding: 80px 5% 80px 5%;
}

/*FACTOR DIFERENCIADOR -- FINAL*/

/*COPROPIEDADES -- INICIO*/

.copropiedades{
    padding: 80px 5% 80px 5%;
}

.copropiedades .t1{
    text-align: center;
    color: #9EAB92;
    font-size: 15px;
    font-weight: bold;
}

.t1 span{
    color: #305e77;
    letter-spacing: 1.5px;
}

.copropiedades .t2{
    text-align: center;
    color: #1B3544;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 1.5px;
}

.cop-gris{
    display: flex;
    justify-content: space-around;
    margin: 40px 0px 40px 0px;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;
}

.cop-gris img{
    width: 220px;
    height: 220px;
}

.cop-boton .boton2{
    justify-content: center;
}

/*COPROPIEDADES -- FINAL*/

/*-- PAGINA INICIO -- FINAL --*/

/*-- PAGINA SERVICIOS -- INICIO --*/

/*-- PAGINA SERVICIOS -- FINAL --*/

/*-- PAGINA NOSOTROS -- INICIO --*/

/*-- PAGINA NOSOTROS -- FINAL --*/

/*-- PAGINA CONTACTO -- INICIO --*/

/*-- PAGINA CONTACTO -- FINAL --*/

/*-- PAGINA FAQ -- INICIO --*/

/*-- PAGINA FAQ -- FINAL --*/