@media(min-width:768px){

    /*FOOTER*/

    .footer-preguntas{
        flex-direction: row;
    }

    .footer-preguntas .t1{
        font-size: 35px;
    }

    .footer-logo{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: 
            "imagen1    caja1   caja2"
            "caja3      redes1  redes1";
    }

    .footer-caja1{
        margin: 15px 0px 70px 0px;
    }

    .footer-caja2{
        margin: 15px 0px 70px 0px;
    }

    .footer-caja3{
        margin: 15px 0px 70px 0px;
    }

    /*BANNER PRINCIAPAL*/

    .verde .prof{
        color: #fff;
        font-size: 25px;
        font-weight: 700;
    }

    .verde h1{
        font-size: 50px;
        width: 50%;
    }

    .verde p{
        width: 50%;
    }

    /*BIENVENIDOS*/

    .bienvenidos{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas: 
            "imagen1 texto texto"
            "imagen1 caja1 imagen2"
            "imagen1 caja2 imagen2";
    }
    
    .bienv-verde img{
        height: 80vh;
        margin-right: 60px;
    }

    .bienvenidos .bienv-experiencia{
        grid-area: caja1;
        background-color: #9EAB92;
        width: 300px;
        height: 130px;
        border-radius: 8px;
    }

    /*EQUIPO*/

    .equipo{
        padding: 80px 5% 80px 5%;
        background-color: #DCDEE1;
    }
    
    .equipo .equipo-verde{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(8 1fr);
    }

    .header-contacto .verde{
        display: flex;
        flex-direction: row;
        list-style: none;
        justify-content: center;
    }

    .header-contacto{
        background-color: #1B3544;
        padding: 10px 5% 10px 5%;
    }

    /*FACTOR*/
    .factor{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas: 
            "texto1 texto2"
            "texto1 imagen1"
            "texto1 imagen1";
    }
    .factor-icono p{
        font-size: 30px;
        margin-left: 30px;
    }
    
}

@media(min-width:1024px){

    /*FOOTER*/

    .footer-preguntas .t1{
        font-size: 40px;
    }

    .footer-logo{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: 
            "imagen1    caja1   caja2   caja3"
            "imagen1    redes1  redes1  redes1"
    }

    /*EQUIPO*/

    .equipo{
        padding: 80px 5% 80px 5%;
        background-color: #DCDEE1;
    }
    
    .equipo .equipo-verde{
        grid-template-columns: repeat(4,25%);
        grid-template-rows: 1fr 1fr;
    }
}