@import "./parciales/_reseteo";
@import "./parciales/_header";
@import "./parciales/footer";
@import "./parciales/_inicio";
@import "./parciales/servicios";
@import "./parciales/nosotros";
@import "./parciales/contacto";
@import "./parciales/faq";