@import "./parciales/_reseteo";
@import "./parciales/mixin";
@import "./parciales/_header";
@import "./parciales/footer";
@import "./parciales/_inicio";
@import "./parciales/servicios";
@import "./parciales/nosotros";
@import "./parciales/contacto";
@import "./parciales/faq";
@import "./parciales/404";

%basetitulo{
    padding: 50px 5% 50px 5%;
    margin-bottom: 80px;
    background-color: #9EAB92;
    
    h1{
        width: 100%;
        text-align: center;
        font-size: 35px;
    }
}

%baseboton1{
    background-color: #9EAB93;
    color: black;
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 600;
    border: none;
    padding: 15px 25px 15px 25px;
    border-radius: 8px;
    border: 2px solid #9EAB93;
    text-decoration: none;

    &:hover{
        background-color: #2F5369;
        color: white;
        border: 2px solid white;
    }
}

%baseboton2{
    background-color: #2F5369;
    color: white;
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 600;
    border: none;
    padding: 15px 25px 15px 25px;
    border-radius: 8px;
    border: 2px solid #2F5369;
    text-decoration: none;

    &:hover{
        background-color: white;
        color: #2F5369;
        border: 2px solid #2F5369;
    }
}

::-webkit-scrollbar {
    width: 12px; 
}
::-webkit-scrollbar-track {
    background: #16222a; 
}
::-webkit-scrollbar-thumb {
    background: #F87223;
    border-radius: 4px; 
}
