.contenedor-formulario{
    padding: 20px 5% 130px 5%;

    .caja-contacto{
        .t1{
            color: #9EAB92;
            font-size: 15px;
            font-weight: bold;

            span{
                color: #305e77;
                letter-spacing: 1.5px;
            }
        }

        .t2{
            color: #1B3544;
            font-size: 40px;
            font-weight: bold;
            letter-spacing: 1.5px;
            margin: 0px 0px 50px 0px;
        }
    }

    .medios-texto{
        font-size: 16px;
    }

    .medios-telefono{
        display: flex;
        flex-direction: column;
        margin-bottom: 35px;
        margin-top: 35px;
        text-align: center;

        .bi-telephone-fill{
            background-color: #9EAB92;
            padding: 12px;
            border-radius: 25px;
        }

        .bi-geo-alt-fill{
            background-color: #9EAB92;
            padding: 12px;
            border-radius: 25px;
        }

        p{
            margin: 15px 0 15px 0;
            font-size: 20px;
            font-weight: bold;
            letter-spacing: 1px;
            color: #000000;
        }
    }

    .horarios-semana{
        margin-bottom: 35px;

        h4{
            text-align: center;
            font-size: 20px;
            font-weight: bold;
            letter-spacing: 1px;
        }

        h5{
            text-align: center;
            font-size: 20px;
            letter-spacing: 1px;
        }
    }

    .horarios-fines{
        margin-bottom: 35px;

        h4{
            text-align: center;
            font-size: 20px;
            font-weight: bold;
            letter-spacing: 1px;
        }

        h5{
            text-align: center;
            font-size: 20px;
            letter-spacing: 1px;
        }
    }

    .caja-formulario{
        background-color: #305e77;
        padding: 40px;
        box-shadow: 7px 3px 37px rgba(7, 7, 7, 0.3);
        color: #fff;
        border-radius: 8px;

        .nombre-form{
            margin-bottom: 20px;

            input{
                width: 100%;
                border-radius: 8px;
                padding: 5px;
            }
        }

        .telefono-form{
            margin-bottom: 20px;

            input{
                width: 100%;
                border-radius: 8px;
                padding: 5px;
            }
        }

        .email-form{
            margin-bottom: 20px;

            input{
                width: 100%;
                border-radius: 8px;
                padding: 5px;
            }
            
        }

        .tipomensaje-form{
            margin-bottom: 20px;

            select{
                width: 100%;
                border-radius: 8px;
                padding: 5px;
            }
        }

        .tipocliente-form{
            margin-bottom: 20px;

            select{
                width: 100%;
                border-radius: 8px;
                padding: 5px;
            }
        }

        .asunto-form{
            margin-bottom: 20px;

            textarea{
                border-radius: 8px;
                padding: 5px;
                box-sizing: content-box;
                width: 100%;
            }
        }

        .terminos-form{
            margin-bottom: 20px;
        }

        .enviar-form{
            border-radius: 8px;
            padding: 5px;

            :hover{
                background-color: #9EAB92;
                color: #fff;
            }
        }
    }
}

@media(min-width:768px){
    
    .contenedor-formulario{
        .medios-telefono{
            display: flex;
            flex-direction: row;
            margin-bottom: 35px;
            margin-top: 35px;

            p{
                margin: 0 0 0 20px;
                font-size: 20px;
                font-weight: bold;
                letter-spacing: 1px;
                text-align: start;
            }
        }

        .horarios-semana{
            h4{
                text-align: start;
            }

            h5{
                text-align: start;
            } 
        }

        .horarios-fines{
            h4{
                text-align: start;
            }

            h5{
                text-align: start;
            } 
        }
    }
}