footer{
    background: #1B3544;  
    background: -webkit-linear-gradient(to bottom, #305e77, #1B3544);
    background: linear-gradient(to bottom, #305e77, #1B3544);

    .footer-preguntas{
        background-color: #9EAB92;
        padding: 30px 5% 30px 5%;
        display: flex;
        flex-direction: column;
        width: 100%;

        div{
            width: 100%;
        }

        .t1{
            color: #1B3544;
            font-size: 25px;
            font-weight: bold;
            margin-bottom: 0px;
        }

        .t2{
            color: #1B3544;
            font-size: 18px;
        }

        .boton3{
            background-color: #305e77;
            border-color: #305e77;
            color: #fff;
            font-size: 18px;
            padding: 10px 30px 10px 30px;
            margin-top: 28px;
            cursor: pointer;
            border-radius: 8px;
        }
    }

    .footer-logo{
        padding: 80px 5% 50px 5%;
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(1, 90%);
        grid-template-rows: repeat(5, 1fr);
        grid-template-areas: 
            "imagen1"
            "caja1"
            "caja2"
            "caja3"
            "redes1";

        .footer-verde{
            grid-area: imagen1;
            display: flex;
            justify-content: center;
            align-items: center;

            img{
                width: 150px;
                margin-bottom: 50px;
            }
        }

        .footer-caja1{
            grid-area: caja1;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin: 5px 0px 5px 0px;

            h3{
                font-size: 20px;
                text-align: center;
                color: #9EAB92;
                font-weight: bold;
                margin-top: 30px;
            }

            p{
                font-size: 20px;
                text-align: center;
                color: white;
                font-weight: 600;
            }
        }

        .footer-caja2{
            grid-area: caja2;
            display: flex;
            justify-content: center;
            align-items: center;

            display: flex;
            flex-direction: column;
            margin: 5px 0px 5px 0px;

            h3{
                font-size: 20px;
                text-align: center;
                color: #9EAB92;
                font-weight: bold;
                margin-top: 30px;
            }

            p{
                font-size: 20px;
                text-align: center;
                color: white;
                font-weight: 600;
            }
        }

        .footer-caja3{
            grid-area: caja3;
            display: flex;
            justify-content: center;
            align-items: center;

            display: flex;
            flex-direction: column;
            margin: 5px 0px 5px 0px;

            h3{
                font-size: 20px;
                text-align: center;
                color: #9EAB92;
                font-weight: bold;
                margin-top: 30px;
            }

            p{
                font-size: 20px;
                text-align: center;
                color: white;
                font-weight: 600;
            }
        }

        .footer-redes{
            grid-area: redes1;
            display: flex;
            justify-content: center;
            align-items: center;
            border-width: 2px 0px 0px 0px;
            border-style: solid;
            border-color: #9EAB92;

            svg{
                margin: 0px 15px 0px 15px;
                cursor: pointer;
            }
        }
    }    

    .footer-copy{

        p{
            font-size: 16px;
            color: #9EAB92;
            text-align: center;
            padding: 0px 0px 50px 0px;
            margin: 50px 0px 0px 0px;
        }
    }
}

/*** MEDIA QUERY ***/

@media(max-width: 980px){
    
    .navegador-footer{
        display: none;
    }    
}

@media(min-width:768px){

    footer{

        .footer-preguntas{
            flex-direction: row;

            .t1{
                font-size: 35px;
            }
        }

        .footer-logo{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);
            grid-template-areas: 
                "imagen1   caja1   caja2"
                "caja3     redes1  redes1";

            .footer-caja1{
                margin: 15px 0px 70px 0px;
            }

            .footer-caja2{
                margin: 15px 0px 70px 0px;
            }
        
            .footer-caja3{
                margin: 15px 0px 70px 0px;
            }

            .footer-verde{    
                img{
                    width: 250px;
                }
            }
        }
    }
}

@media(min-width:1024px){

    footer{

        .footer-preguntas{

            .t1{
                font-size: 40px;
            }
        }

        .footer-logo{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(2, 1fr);
            grid-template-areas: 
                "imagen1    caja1   caja2   caja3"
                "imagen1    redes1  redes1  redes1"
        }
    }
}
