.servicio-t1{
    padding: 30px 5% 30px 5%;
}

.caja-padre-nost{
    padding: 30px 5% 30px 5%;
}

.caja-nosotros{
    display: flex;
    flex-direction: column;
    max-width: 1280px;
    margin: 0 auto;

    .caja-mision{
        width: 100%;
        text-align: center;

        img{
            width: 100%;
            border-radius: 8px;
            margin-bottom: 20px;
        }

        h5{
            font-size: 30px;
            color: #9EAB93;
            font-weight: 800;
            letter-spacing: 2px;
        }
    }

    .caja-vision{
        width: 100%;
        text-align: center;

        img{
            width: 100%;
            border-radius: 8px;
            margin-bottom: 20px;
        }

        h5{
            font-size: 30px;
            color: #9EAB93;
            font-weight: 800;
            letter-spacing: 2px;
        }
    }
}

.caja-valores{
    max-width: 1280px;
    margin: 0 auto;
    padding-top: 50px;

        img{
            width: 180px;
            border-radius: 8px;
            margin-bottom: 15px;
        }

        h6{
            font-size: 20px;
            margin-bottom: 50px;
        }
}


.caja-circulos{
    background-color: #DCDEE1;
    display: flex;
    justify-content: center;
    padding: 100px 5% 100px 5%;

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #DCDEE1;
        width: 100%;
        margin: 0px;
    
        .container__progressbars {
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-wrap: wrap;
            min-width: 270px;
            width: 100%;
            min-height: 100%;
            margin: 0;
        
            .progressbar {
                position: relative;
                width: 170px;
                height: 170px;
                margin: 1em;
                transform: rotate(-90deg);
        
                .progressbar__svg {
                    position: relative;
                    width: 100%;
                    height: 100%;
            
                    .progressbar__svg-circle {
                        width: 100%;
                        height: 100%;
                        fill: none;
                        stroke-width: 10;
                        stroke-dasharray: 440;
                        stroke-dashoffset: 440;
                        stroke: white;
                        stroke-linecap: round;
                        transform: translate(5px, 5px);
                    }
                }
        
                .shadow-html {
                    filter: drop-shadow(0 0 5px #ff6633);
                }
                
                .shadow-css {
                    filter: drop-shadow(0 0 5px #33bbff);
                }
                
                .shadow-scss {
                    filter: drop-shadow(0 0 5px #ff33ff);
                }
                
                .shadow-js {
                    filter: drop-shadow(0 0 5px #ffff33);
                }
                
                .shadow-ts {
                    filter: drop-shadow(0 0 5px #3377ff);
                }
        
                .circle-html {
                    -webkit-animation: anim_circle-html 1s ease-in-out forwards;
                            animation: anim_circle-html 1s ease-in-out forwards;
                }
                
                .circle-css {
                    -webkit-animation: anim_circle-css 1s ease-in-out forwards;
                            animation: anim_circle-css 1s ease-in-out forwards;
                }
                
                .circle-scss {
                    -webkit-animation: anim_circle-scss 1s ease-in-out forwards;
                            animation: anim_circle-scss 1s ease-in-out forwards;
                }
                
                .circle-js {
                    -webkit-animation: anim_circle-js 1s ease-in-out forwards;
                            animation: anim_circle-js 1s ease-in-out forwards;
                }
                
                .circle-ts {
                    -webkit-animation: anim_circle-ts 1s ease-in-out forwards;
                            animation: anim_circle-ts 1s ease-in-out forwards;
                }
        
                .progressbar__text {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    padding: 0.25em 0.5em;
                    color: #262626;
                    border-radius: 0.25em;
                    transform: translate(-50%, -50%) rotate(90deg);
                }
            }
        
            @-webkit-keyframes anim_circle-html {
                to {
                    stroke-dashoffset: 22;
                }
            }
            
            @keyframes anim_circle-html {
                to {
                    stroke-dashoffset: 40;
                }
            }
            
            @-webkit-keyframes anim_circle-css {
                to {
                    stroke-dashoffset: 66;
                }
            }
            
            @keyframes anim_circle-css {
                to {
                    stroke-dashoffset: 60;
                }
            }
            
            @-webkit-keyframes anim_circle-scss {
                to {
                    stroke-dashoffset: 132;
                }
            }
            
            @keyframes anim_circle-scss {
                to {
                    stroke-dashoffset: 80;
                }
            }
            
            @-webkit-keyframes anim_circle-js {
                to {
                    stroke-dashoffset: 88;
                }
            }
            
            @keyframes anim_circle-js {
                to {
                    stroke-dashoffset: 100;
                }
            }
            
            @-webkit-keyframes anim_circle-ts {
                to {
                    stroke-dashoffset: 198;
                }
            }
            
            @keyframes anim_circle-ts {
                to {
                    stroke-dashoffset: 120;
                }
            }
        }
    }
}

@media(min-width:768px){

    .caja-nosotros{
        display: flex;
        flex-direction: row;
        gap: 80px;
    }
}