*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    html {
        scroll-behavior: smooth;
    }

    body {
        background-color: white;
        font-family: 'Outfit', sans-serif;
    }
    
    @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;500&family=Poppins:wght@300&display=swap');
    
    ::selection {
        background-color: #305e77;
        color: #9EAB92;
    }
    
    .whatsapp {
        position:fixed;
        width:60px;
        height:60px;
        bottom:20px;
        right:20px;
        background-color:#25d366;
        color: #DCDEE1;
        border-radius:50px;
        text-align:center;
        font-size:30px;
        z-index:100;
        box-shadow: 3px 3px 10px rgba(3, 3, 3, 1);
    }
    
    .whatsapp-icon {
        margin-top:13px;
    }
}