.servicio-t1{
    padding: 40px 0 10px 0;

    .t1{
        text-align: center;
        color: #9EAB92;
        font-size: 15px;
        font-weight: bold;

        span{
            color: #305e77;
            letter-spacing: 1.5px;
        }
    }

    .t2{
        text-align: center;
        color: #1B3544;
        font-size: 40px;
        font-weight: bold;
        letter-spacing: 1.5px;
    }
}

.pagina-servicios{
    padding: 80px 5% 150px 5%;
    display: grid;        
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: 
        "caja1"
        "caja2"
        "caja3"
        "caja4"
        "caja5"
        "caja6";
    gap: 50px;
    align-items: center;
    justify-content: center;

    img{
        width: 250px;
        align-items: center;
        margin-bottom: 25px;
    }

    .caja-1{
        grid-area: caja1;
        padding: 30px;
        border-radius: 8px;
        text-align: center;
        box-shadow: 2px 2px 2px 3px rgba(0, 0, 0, 0.1);
    }

    .caja-2{
        grid-area: caja2;
        padding: 30px;
        border-radius: 8px;
        text-align: center;
        box-shadow: 2px 2px 2px 3px rgba(0, 0, 0, 0.1);
    }

    .caja-3{
        grid-area: caja3;
        padding: 30px;
        border-radius: 8px;
        text-align: center;
        box-shadow: 2px 2px 2px 3px rgba(0, 0, 0, 0.1);
    }

    .caja-4{
        grid-area: caja4;
        padding: 30px;
        border-radius: 8px;
        text-align: center;
        box-shadow: 2px 2px 2px 3px rgba(0, 0, 0, 0.1);
    }

    .caja-5{
        grid-area: caja5;
        padding: 30px;
        border-radius: 8px;
        text-align: center;
        box-shadow: 2px 2px 2px 3px rgba(0, 0, 0, 0.1);
    }

    .caja-6{
        grid-area: caja6;
        padding: 30px;
        border-radius: 8px;
        text-align: center;
        box-shadow: 2px 2px 2px 3px rgba(0, 0, 0, 0.1);
    }    
}

@media(min-width:768px){

    .pagina-servicios{
        padding: 80px 5% 150px 5%;
        display: grid;        
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas: 
            "caja1 caja2"
            "caja3 caja4"
            "caja5 caja6";
        gap: 30px;

        img{
            width: 250px;
        }
    }
}

@media(min-width:1024px){

    .pagina-servicios{
        padding: 80px 5% 150px 5%;
        display: grid;        
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: 
            "caja1 caja2 caja3"
            "caja4 caja5 caja6";
        gap: 50px;
    }
}